<div id="us-page">
  <div class="col-xs-12 col-sm-6">
    <h2>who.</h2>
    <p>ALMOST PEGGY began with sisters lucy and clare. their skin was hard work. it wanted to be smooth, moisturised and clear, but not peeled, oily and squeezed.</p>
  </div>      
  <div class="col-xs-6 col-sm-6 img">
    <img src="{{ 'ap-girl-facing-back.svg' | asset_url }}" class="rotate180 smaller-image"/> 
  </div>
  <div class="clearfix hidden-xs"></div>
  <div class="col-xs-6 col-sm-6 img">
    <img src="{{ 'ap-girl-and-dog.svg' | asset_url }}" class="shake"/>
  </div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-sm-6">
    <h2>when.</h2>
    <p>since forever they’d searched for something that would give their skin the tlc it deserved. but they were never gonna find it in the rivers and the lakes they were used to.</p>
  </div>
  <div class="clearfix"></div>
  <div class="col-xs-12 col-sm-6">
    <h2>why.</h2>
    <p>their bathroom was a mausoleum for every scrub, wash, mask and exfoliator. so many products, so much money, and too many chemicals!</p>
  </div>     
  <div class="col-xs-6 col-sm-6 img">
    <img src="{{ 'ap-dog-on-chair.svg' | asset_url }}" class="rotate360"/>
  </div>
  <div class="col-xs-6 col-sm-6 img">
    <img src="{{ 'ap-mermaid-dog.svg' | asset_url }}" class="shake"/>
  </div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-sm-6">
    <h2>then...</h2>
    <p>they decided they were doin’ it for themselves. their skin wanted something natural, something that worked. enter face honey.</p>
  </div>
  <div class="clearfix"></div>
  <div class="col-xs-12 col-sm-6">
    <h2>what.</h2>
    <p>yup. a 100% natural, exfoliating daily face wash that promotes clear, smooth & oil-balanced skin, made from one of nature’s most powerful skin treatments - raw honey - mixed with a superstar line-up of other natural ingredients. they never looked back.</p>
  </div> 
  <div class="col-xs-6 col-sm-6 img">
    <img src="{{ 'ap-star-jump.svg' | asset_url }}" class="rotate360 merdog smaller-image"/>
  </div>
  <div class="col-xs-6 col-sm-6 img">
    <img src="{{ 'ap-girl-facing-front.svg' | asset_url }}" class="shake smaller-image"/>
  </div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-sm-6">
    <h2>now.</h2>
    <p>their skin loves face honey, and they love their skin right back. they reckon your skin will too!
      so, introducing ALMOST PEGGY and her all-natural, daily face wash, face honey.</p>
  </div>
</div>
  <div class="clearfix"></div>