{% assign selectedVariant = product.selected_or_first_available_variant | default: product %}
<div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <br class="hidden-md hidden-lg" />
              <h2 style="font-size: 48px;">“This hits a natural skincare home run…”</h2>
             <p> - Stephanie Darling, Beauty Editor, Sunday Life Magazine in The Sunday Age (Melbourne) & The Sun-Herald (Sydney).</p>
              </div>
              <div class="col-md-6">
                <img src="{{ 'age-life-mag.png' | asset_url }}" style="border: 1px solid #DEE0DE" />
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
              <div class="col-md-6">
                <br class="hidden-md hidden-lg" />
                <h2 style="font-size: 48px;">“Go get it!”</h2>
                <p>- Veronica Stanford, Fashion Journal</p>
              </div>
              <div class="col-md-6">
                <img src="{{ 'fashion-journal.png' | asset_url }}" style="border: 1px solid #DEE0DE" />
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
     <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <h2 style="font-size: 48px;">“A face full of goodness in one little packet”</h2>
            <p>- Slow Magazine, Frankie Press.</p>
          </div>
          <div class="col-md-6">
            <img src="{{ 'slow-mag.png' | asset_url }}" style="border: 1px solid #DEE0DE" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6"> 
          <br class="hidden-md hidden-lg" />              
              <h2 style="font-size: 48px;">“I found this great thing:.. face honey... a cleanser made from vitamin and antioxidant-rich honey.”</h2>
              <p>- Erin Munro, M Magazine, The Sunday Age.</p>
            </div>
            <div class="col-md-6">
              <img src="{{ 'age-m-mag.png' | asset_url }}" style="border: 1px solid #DEE0DE" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <hr />
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <h2 style="font-size: 48px;">“…my face is as smooth as a baby’s toosh!!…[face honey] is our new chemical-free bff”</h2>
                <p>- The Urban List Melbourne</p> 
              </div>
              <div class="col-md-6">
                <img src="{{ 'urban-list.png' | asset_url }}" style="border: 1px solid #DEE0DE" />             
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="row">
              <div class="col-md-6">
                <br class="hidden-md hidden-lg" />
                <h2 style="font-size: 48px;">“I love Face Honey…a truly innovative facial wash that will truly transform your cleansing experience!”</h2>
                <p>- WELLNESS BY KELS</p>
              </div>
              <div class="col-md-6">
                <img src="{{ 'wellness-by-kels.png' | asset_url }}" style="border: 1px solid #DEE0DE" />
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <p><a href="/pages/reviews">find out what face honey customers are saying!</a></p>
