<div class="main-header-wrapper">
 <div style="width: 100%; height: 35px; background-color: #9a1a55; color: #FFFFFF; text-align: center; font-size: 16px; line-height: 35px;">free shipping australia wide!</div>
  <div class="pattern-strip hidden-sm hidden-xs"></div>
  <div class="pattern-strip-sm hidden-md hidden-lg"></div>
  <header class="main-header sticky-header" role="banner">
    <div class="container" style="height: 70px;">
      <div class="branding col-xs-5 col-md-2 col-lg-3">
        <a class="logo" href="/">
          <h4>ALMOST PEGGY</h4>
        </a>
      </div>      		
      <div class="header-tools col-xs-6 col-md-10 col-lg-9 pull-right">
        {% include 'navigation' %}
        <div class="header-actions">
          <div id="coin-container"></div>
          <a class="cart-link" href="/cart"><i class="fa fa-shopping-cart"></i></a><span class="cart-count">{{ cart.total_price | money }}</span>
          <div class="select-wrapper" id="currency-select-wrapper">
            <div class="selected-currency"></div>
            <select id="currencies" name="currencies">
              {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
              {% assign supported_codes = settings.currency-switcher-supported-currencies | split: ' ' %}
              <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
              {% for code in supported_codes %}
              {% if code != shop.currency and codes contains code %}
              <option value="{{ code }}">{{ code }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="drawer-toggle"><h4>menu.</h4></div>
        </div>
      </div>
    </div>
  </header>
</div>
<div class="header-drawer">
  <div id="xs-nav-logo-div">
    <a href="/">
    <img alt="ALMOST PEGGY logo" src="{{ 'ap-logo-black.png' | asset_url }}" />
    </a>
  </div>
  <span class="drawer-toggle close-cross icon">&#57349;</span>
  {% include 'navigation' %}
  <div class="select-wrapper" id="drawer-currency-selector">
    <div class="selected-currency"></div>
    <select id="currencies" name="currencies">
      {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
      {% assign supported_codes = settings.currency-switcher-supported-currencies | split: ' ' %}
      <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
      {% for code in supported_codes %}
      {% if code != shop.currency and codes contains code %}
      <option value="{{ code }}">{{ code }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div id="coin-container"></div>
</div>
