{% assign selectedVariant = product.selected_or_first_available_variant | default: product %}
<div class="row">
    <div class="col-sm-6">
      <div class="row">
        <a href="https://www.facebook.com/pg/almostpeggy/reviews/">
          <div class="col-sm-12 col-md-3">
            <img style="width: 60px; height: 60px; border-radius: 30px;" class="testimonial-image" alt="Megan Philippa Qpennyfeather Facebook profile image" src="{{ 'megan.jpg' | asset_url }}"> 
          </div>
          <div class="col-sm-12 col-md-9">
            <p>It's rare to find a non-foaming cleanser with no petrochemicals or microbeads which provides an effective clean and gentle exfoliation. It removed make-up beautifully, left the skin deeply cleansed and dewy. Cost effective, locally sourced and made, beautiful and simple product. I love it!
            </p>
            <p>Facebook review<br /> Megan - Launceston, Tasmania</p>
          </div>
        </a>
      </div>
    </div>   
    <div class="col-sm-6">
      <div class="row">
        <a href="https://www.facebook.com/pg/almostpeggy/reviews/">
          <div class="col-sm-12 col-md-3">
            <img style="width: 60px; height: 60px; border-radius: 30px;" class="testimonial-image" alt="Fiona Facebook profile image" src="{{ 'fiona.jpg' | asset_url }}"> 
          </div>
          <div class="col-sm-12 col-md-9">
            <p>You will try it & you will never look back. Leaves your skin so refreshed...so clean & super smooth.  
            </p>
            <p>Facebook review<br /> Fiona - Australia</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <a href="https://www.facebook.com/pg/almostpeggy/reviews/">
          <div class="col-sm-12 col-md-3">
            <img style="width: 60px; height: 60px; border-radius: 30px;" class="testimonial-image" alt="Victoria Facebook profile image" src="{{ 'vicky.jpg' | asset_url }}"> 
          </div>
          <div class="col-sm-12 col-md-9">
            <p>This is literally my favourite beauty product - I used to hate washing my face off at the end of the day but Almost Peggy feels like a mini facial - it's gritty enough to help with my dry patches but soft enough not to dry me out. It's just plain lovely.  
            </p>
            <p>Facebook review<br /> Victoria - Melbourne, Victoria</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <a href="https://www.facebook.com/pg/almostpeggy/reviews/">
          <div class="col-sm-12 col-md-3">
            <img style="width: 60px; height: 60px; border-radius: 30px;" class="testimonial-image" alt="Simone Kentley Kerr facebook profile image" src="{{ 'simone.jpg' | asset_url }}"> 
          </div>
          <div class="col-sm-12 col-md-9">
            <p>I'm very careful to avoid commercial face products so I used to resort to plain old water and a cloth. I have been using Almost Peggy for a few months and I absolutely love it. It gently exfoliates which feels amazing and it leaves my face smooth and moisturized enough to not need creams at night. I recommend you try it out and see if it works for you, it certainly does for me.
            </p>
            <p>Facebook review<br /> Simone - Kew, Victoria</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
  	<div class="col-sm-6">
      <div class="row">
        <a href="https://www.facebook.com/pg/almostpeggy/reviews/">
          <div class="col-sm-12 col-md-3">
            <img style="width: 60px; height: 60px; border-radius: 30px;" class="testimonial-image" alt="Tiki Tiki Facebook profile image" src="{{ 'tiki.jpg' | asset_url }}"> 
          </div>
          <div class="col-sm-12 col-md-9">
            <p>I have been using Almost Peggy for a couple of months now and my skin has never been better. I have very sensitive, combination skin and am forever changing skincare products to find the right fit. Almost Peggy takes off all my makeup, no matter how thick or dark and keeps my skin feeling moisturised and smooth which means I use less foundation. 
            </p>
            <p>Facebook review<br /> Tiki Tiki - Melbourne, Victoria</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <hr />
  <p><a href="/pages/as-seen-in">the media are onto ALMOST PEGGY face honey too, click to see what they're saying!</a></p>
