{% assign product = all_products[settings.home-order-now-product] %}
<!-- top banner html in theme.liquid so can be display at full width outside main-content div -->
{% assign selectedVariant = product.selected_or_first_available_variant | default: product %}

<div id="product-page">
  <div class="row hidden-lg">
    <div class="col-sm-6">
      <img class="hidden-xs" alt="face honey. ready to #facethehoney?" src="{{ 'it-banner-xs.jpg' | asset_url }}">    
    </div>
    <div class="col-sm-6">
      <h1 style="margin-bottom: 0;">face honey.</h1>
      <h4 style="font-size: 40px;">honey to wash your face with.</h4>
      <div class="hidden-xs">{% include 'add-to-cart-elements'%}</div>
      <img class="hidden-sm hidden-md hidden-lg" alt="face honey. ready to #facethehoney?" src="{{ 'it-banner-xs.jpg' | asset_url }}">
    </div>   
  </div>  
  <div class="hidden-sm hidden-md hidden-lg">
    <hr />
    {% include 'add-to-cart-elements'%}      
  </div>
  <div id="buy-face-honey"></div> <!-- bookmark for 'buy' button -->
  <hr />

  <div class="row">
    <div class="col-sm-6">
      <h2>face honey is.</h2>
      <p>100% natural. with the almighty power of locally sourced, raw, unheated, australian honey face honey is an antioxidant, antibacterial, antimicrobial and moisture-balancing forumla that cleans, exfoliates and nourishes all skin types. oily, dry, acne prone or a-okay - your skin will heart face honey!</p>
      <p>teamed with some of nauture's other skin heroes, face honey promotes a smooth, healthy and clear complexion, naturally.</p>
    </div>
    <div class="col-sm-6">
      <img alt="face honey. ready to #facethehoney?" src="{{ 'it-hands.jpg' | asset_url }}">
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-6">
      <img class="hidden-xs" alt="face honey. ready to #facethehoney?" src="{{ 'it-wood.jpg' | asset_url }}">
    </div>
    <div class="col-sm-6">
      <h2>face honey isn't.</h2>
      <p>full of nasties. seriously. it has no harmful synthetic or petrochemicals, no sodium laureth sulfate (sles) and absolutely no ocean-life destroying microbeads. it's soap-free, alcohol-free, paraben-free and non-comedogenic so it won't clog up your pores. huzzah! and, as a natural preservative, the honey in face honey will keep your face wash fresh as a daisy for around 6 months, without any unpleasant preservatives.</p>
      <p>but pssst! it’s for your face, not your toast, so don’t go eating out of the packet!</p>
      <img class="hidden-sm hidden-md hidden-lg" alt="face honey. ready to #facethehoney?" src="{{ 'it-wood.jpg' | asset_url }}">
    </div>    
  </div>

  <hr />

  <div class="row">  
    <div class="col-sm-6">
      <h2>#facethehoney</h2>
      <p>and treat yo skin. it's made right here in melbourne and only tested on very willing melbournians so you can rest assured not one single four legged friend was harmed in the making. not one single flippered, finned, wingged or walking creature for that matter! face honey is a gentle retreat from synthetic substances and smells delish to boot. for all skin everywhere, face honey is the sweetest wash around.</p>
      <p>share how you #facethehoney</p>
      <p><a href="https://www.instagram.com/almostpeggy"><img alt="ALMOST PEGGY instagram" class="product-social-media" src="{{ 'instagram-black.jpeg' | asset_url }}"> </a> 
        <a href="https://www.facebook.com/almostpeggy"><img alt="ALMOST PEGGY facebook" class="fb product-social-media" src="{{ 'facebook-black.png' | asset_url }}"> </a>
        <a href="https://au.pinterest.com/almostpeggy"><img alt="ALMOST PEGGY pinterest" class="product-social-media" src="{{ 'pinterest-black.jpeg' | asset_url }}"> </a></p>
    </div>
    <div class="col-sm-6">
      <img class="img-product-product-page" alt="face honey. ready to #facethehoney?" src="{{ 'it-bath.jpg' | asset_url }}">
    </div>
  </div>

  <div class="modal fade" id="cart-updated-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">cart updated.</h4>
        </div>
        <div class="modal-body-cart-update">
          <p>go to <a href="/cart">cart.</a></p>
          <p><a href="/checkout">check out.</a></p>
          <img src="{{ 'ap-mermaid-dog.svg' | asset_url }}" class="rotate360 merdog" style="max-height: 200px; width: auto; margin-top: 30px;"/>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script>
    // required for splitting variants
    // see ProductView
    window.productJSON = {{ product | json }};
  </script>
