{% assign product = all_products[settings.home-order-now-product] %}
<!-- top banner html in theme.liquid so can be display at full width outside main-content div -->
{% assign selectedVariant = product.selected_or_first_available_variant | default: product %}

<div id="product-page">
  <div class="row hidden-md hidden-lg">
    <div class="col-sm-6">
      <h1 style="margin-bottom: 0;">face honey.</h1>
      <h4 style="font-size: 40px;">honey you can wash your face with.</h4><br />
      <div class="hidden-xs">{% include 'add-to-cart-elements'%}</div>     
    </div>
    <div class="col-sm-6">
      <img class="hidden-md hidden-lg" alt="face honey. ready to #facethehoney?" src="{{ 'it-banner-xs.jpg' | asset_url }}">
    </div>   
  </div>  
  <div class="hidden-sm hidden-md hidden-lg">
    <br />
    {% include 'add-to-cart-elements'%}      
  </div>
 <a class="arrow-wrap hidden-sm hidden-xs" href="#content">
    <span class="arrow"></span>
    <!-- <span class="hint">scroll</span> -->
  </a>
  <div id="content" class="hidden-sm hidden-xs" style="height: 80px;"></div>
<!--     <div class="row">
    <div class="col-xs-12">
    <p>we've gone back to basics to gather the best all-natural, super effective ingredients that are healthy for your skin, & true to its name, the star of our face honey mix is one of nature’s most powerful skin treatments - raw honey!</p>
    <p>if you're talking natural skincare, honey should be at the top of your list. it’s a humectant, which means it balances oils while locking in moisture, plus it’s a powerful antibacterial, antifungal, antimicrobial & antibiotic. combine honey with our tried-and-tested formula of natural skincare ingredients, & you get face honey!</p>
    <p>bottom line? with ALMOST PEGGY face honey daily face wash you’ll be saying <em>hello</em> to supple skin, gentle exfoliation, & a daily-dose of nature’s top skin heroes, & <em>goodbye</em> to dry or oily extremes, harsh chemicals & break outs!</p>
    <p style="margin-bottom: 0;">want to know more? read on to learn what face honey is (& what face honey isn't).</p>
    </div>
  </div> -->
  <hr />
  <div class="row">
    <div class="col-sm-6 content-section">
      <h2>whaaa? face wash made from honey?!</h2>
      <p>you’ve heard honey is a skincare star, but it’s so sticky! even if it is an amazing humectant that attracts moisture & helps to regulate oil, wouldn’t it be a hassle getting it on & off your face every day...?</p>
      <p>enter face honey!</p>
    </div>
    <div class="col-sm-6 content-section">
      <img class="img-product-product-page" alt="ALMOST PEGGY face honey is a daily, exfoliating face wash for all skin types to help acheive & maintain a clean, clear & nourished complexion, naturally!" src="{{ 'honey-image-1.jpg' | asset_url }}">
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6 content-section">
      <img class="hidden-xs" alt="ALMOST PEGGY face honey is made with honey & other skin-loving natural oils for a superior glide-on glide-of effect." src="{{ 'honey-image-2.jpg' | asset_url }}">
    </div>
    <div class="col-sm-6 content-section">
      <h2>honey for your face, not your toast.</h2>
      <p>forget the slow drizzle & glue-like-stickiness. reap the antibacterial, antimicrobial, antifungal & antibiotic benefits of honey with a product containing enough of it to deliver them, combined with a coating of skin-loving natural oils to make it glide on & off.</p>
      <p>voila! enjoy one of nature’s most potent skin treatments without the mess!</p>
      <img class="hidden-sm hidden-md hidden-lg" style="padding-top: 30px;" alt="ALMOST PEGGY face honey is made with honey & other skin-loving natural oils for a superior glide-on glide-of effect." src="{{ 'honey-image-2.jpg' | asset_url }}">
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6 content-section">
      <h2>that face honey feeliiiiing!</h2>
      <p>get ready for some honey-magic! with regular use, enjoy a smoother, clearer & healthier complexion. and the best part? leave chemical city behind & focus on zenning-out in your face-honey happy place (maybe it looks a little like this outdoor bath scene? 😀 🌳 🛁 ) </p>
      <p>suss out all the other benefits of face honey below.</p>
    </div>
    <div class="col-sm-6 content-section">
      <img class="img-product-product-page" alt="that ALMST PEGGY face honey feeling! get smoother, clearer & healthier skin with face honey's all time formula." src="{{ 'honey-image-3.jpg' | asset_url }}">
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6 content-section">
      <img class="hidden-xs" alt="ALMOST PEGGY face honey prevents acne, blemishes & breakouts, naturally!" src="{{ 'banish-heckin-blemishes.jpg' | asset_url }}">
    </div>
    <div class="col-sm-6 content-section">
      <h2>banish heckin blemishes.</h2>
      <p>breaking out on your face instead of the dance floor? we know the feeling <img alt="Rolling eyes emojie"  style="width: 20px;" src="{{ 'rolling-eyes-emojie.jpg' | asset_url }}"></p> 
      <p>get the ultimate pimple prevention with face honey. the antibacterial, antimicrobial, antioxidant, anti inflammatory properties & high linoleic acid composition, means you can shut the front door on acne causing bacteria!</p>
      <img class="hidden-sm hidden-md hidden-lg" style="padding-top: 30px;" alt="ALMOST PEGGY face honey prevents acne, blemishes & breakouts, naturally!" src="{{ 'banish-heckin-blemishes.jpg' | asset_url }}">
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6 content-section">
      <h2>earth mammy to the rescue.</h2>
      <p>don't like scary-long words listed on the back of something you rub on your face everyday? neither do we!</p>
      <p>that’s why face honey is 100% free of synthetic & petro-chemicals, is paraben-free & has no SLES or any other noxious additives, meaning your skin can breathe easy knowing it's ditched the risky chemicals completely!</p>
    </div>
    <div class="col-sm-6 content-section">
      <img class="img-product-product-page" alt="ALMOST PEGGY face honey is 100% synthetic & petro-chemical free, paraben-free, alcohol-free, cruelty-free & contains no ocean destroying microbeads." src="{{ 'chemical-free-infographic.jpg' | asset_url }}">
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6 content-section">
      <img class="hidden-xs" alt="ALMOST PEGGY face honey is a natural, daily exfoliating genious! shed the old ways & admire your new complexion." src="{{ 'face-honey-exfoliates.jpg' | asset_url }}"> 
    </div>
    <div class="col-sm-6 content-section">
      <h2>shed the past, exfoliate!</h2>
      <p>let go of the cells that want to be free & jump aboard the face honey exfoliation train; next stop Smooth Town, population: your face!</p>
      <p>with daily use, you’ll unclog your pores, shed yesterday’s nonsense & say <em>hey there</em> to a soft, clear & nourished complexion.</p>
      <img class="hidden-sm hidden-md hidden-lg" style="padding-top: 20px;" alt="ALMOST PEGGY face honey is a natural, daily exfoliating genious! shed the old ways & admire your new complexion." src="{{ 'face-honey-exfoliates.jpg' | asset_url }}">          
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-6 content-section">      
      <h2>oil balanced - boom!</h2>
      <p>just like the perfect peanut butter, face honey won’t leave you oily or dry.</p>
      <p>whether you’re shiny by lunchtime; dry, cracked & itchy; sensitive to the core; or pretty much ‘normal’, your skin will thrive with face honey’s precise, non-comedogenic oil balancing act.</p>
      <p>but psst, it's for your face, don’t eat!</p>
      <img class="hidden-sm hidden-md hidden-lg" alt="ALMOST PEGGY face honey is moisture-balancing for for oily skin, a boss moisturiser for dry skin & an everyday, nourishing blemish fighting queen for acne prone skin." src="{{ 'oil-balancing.jpg' | asset_url }}">
    </div>
    <div class="col-sm-6 content-section">
      <img class="hidden-xs" alt="ALMOST PEGGY face honey is moisture-balancing for for oily skin, a boss moisturiser for dry skin & an everyday, nourishing blemish fighting queen for acne prone skin." src="{{ 'oil-balancing.jpg' | asset_url }}">
    </div>    
  </div>

  <hr />
  <div class="row">
    <div class="col-sm-6 content-section">
      <img class="hidden-xs" alt="ALMOST PEGGY face honey removes makeup gently, without the need for chemicals or harsh, damaging rubbing." src="{{ 'after-party-face.jpg' | asset_url }}">
    </div>
    <div class="col-sm-6 content-section">
      <h2>an after party face-off.</h2>
      <p>what goes up must go down, the drain that is. clean off your makeup without exposing your skin to harsh chemicals & solvents.</p>
      <p>face honey’s alcohol, soap & paraben-free formula is a gentle, natural way to get fresh faced. as for microbeads, 
        heck no! wash away mascara not marine life!</p>
      <img class="hidden-sm hidden-md hidden-lg" style="padding-top: 20px;" alt="ALMOST PEGGY face honey removes makeup gently, without the need for chemicals or harsh, damaging rubbing." src="{{ 'after-party-face.jpg' | asset_url }}">   
    </div>    
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6 content-section">
      <h2>earthlings unite!</h2>
      <p>face honey is created, designed & manufactured by locals to Brunswick, Melbourne Australia. but thanks to the virtues of the world wide web, we are a part of the global community movement toward a sustainable future.</p>
      <p>our packaging is totally recyclable so whether you’re in Richmond or Rio, pop the empty pack in the nearest recycling bin.</p>
      <img class="hidden-sm hidden-md hidden-lg" alt="ALMOST PEGGY face honey packaging is totally recyclable. so don't forget to do the right thing & pop it in the recycling bin!" src="{{ 'earthlings-unite-hands.jpg' | asset_url }}">
    </div>
    <div class="col-sm-6 content-section">
      <img class="hidden-xs" alt="ALMOST PEGGY face honey packaging is totally recyclable. so don't forget to do the right thing & pop it in the recycling bin!" src="{{ 'earthlings-unite-hands.jpg' | asset_url }}">
    </div>    
  </div>
  <hr />
  <div class="row"> 
    <div class="col-sm-6 content-section">  
      <img class="img-product-product-page hidden-xs" alt="ALMOST PEGGY face honey is cruelty-free. we love all creatures great & smol." src="{{ 'cruelty-free-infographic.jpg' | asset_url }}">
    </div>
    <div class="col-sm-6 content-section">
      <h2>animals be thy frens.</h2>
      <p>ALMOST PEGGY is a crazy dog lady. there, we said it. she talks about dogs, posts about dogs, dreams about owning MORE DOGS - she really loves dogs! & not just dogs, all animals, great & smol 😉!</p>
      <p>we do not test on animals & only use honey from apiaries that practice non-harmful, non-invasive harvesting & hive tending practices.</p>
      <img class="img-product-product-page hidden-sm hidden-md hidden-lg" alt="ALMOST PEGGY face honey is cruelty-free. we love all creatures great & smol." src="{{ 'cruelty-free-infographic.jpg' | asset_url }}">
    </div>
  </div>
  <hr />
  <div class="row">  
    <div class="col-sm-6 content-section">
      <h2>let's bee social.</h2>
      <p>why not put your sweet cheeks forward & show us how you #facethehoney.</p>
      <p>keep us updated on your transformation & go in the draw for ALMOST PEGGY competitions & giveaways. double your chances by <a href="/#mailing-list-signup">signing up to our newsletter below!</a></p>
      <p><a href="https://www.instagram.com/almostpeggy"><img alt="ALMOST PEGGY instagram" class="product-social-media" src="{{ 'instagram-black.jpeg' | asset_url }}"> </a> 
        <a href="https://www.facebook.com/almostpeggy"><img alt="ALMOST PEGGY facebook" class="fb product-social-media" src="{{ 'facebook-black.png' | asset_url }}"> </a>
        <a href="https://au.pinterest.com/almostpeggy"><img alt="ALMOST PEGGY pinterest" class="product-social-media" src="{{ 'pinterest-black.jpeg' | asset_url }}"> </a></p>
      <img class="img-product-product-page hidden-sm hidden-md hidden-lg" style="padding-top: 20px;" alt="share your ALMOST PEGGY face honey experience with us when you #facethehoney" src="{{ 'lets-bee-social.jpg' | asset_url }}">
    </div>
    <div id="reviews"></div>
    <div class="col-sm-6 content-section">
      <img class="img-product-product-page hidden-xs" alt="share your ALMOST PEGGY face honey experience with us when you #facethehoney" src="{{ 'lets-bee-social.jpg' | asset_url }}">  
    </div>
  </div> 
  <hr />
  <h1 style="padding-bottom: 20px;">what the media are saying.</h1>
  <p><span style="font-family: 'cf_great_destinyregular', sans-serif; font-size: 50px; color: #9A1A55;">“This hits a natural skincare home run…”</span> <span style="font-style: italic;"><br />- Stephanie Darling, Beauty Editor, Sunday Life Magazine in  The Sunday Age (Melbourne) & The Sun-Herald (Sydney).</span></p><br />
  <p><span style="font-family: 'cf_great_destinyregular', sans-serif; font-size: 50px; color: #9A1A55;">“Go get it!”</span> <span style="font-style: italic;"><br />- Veronica Stanford, Fashion Journal.</span></p><br />
  <p><span style="font-family: 'cf_great_destinyregular', sans-serif; font-size: 50px; color: #9A1A55;">“A face full of goodness in one little packet”</span> <span style="font-style: italic;"><br />- Slow Magazine, Frankie Press.</span></p><br />
  <p><span style="font-family: 'cf_great_destinyregular', sans-serif; font-size: 50px; color: #9A1A55;">“I found this great thing... face honey... a cleanser made from vitamin and antioxidant-rich honey”</span> <span style="font-style: italic;"><br />- Erin Munro, M Magazine, The Sunday Age.</span></p><br />
  <p><span style="font-family: 'cf_great_destinyregular', sans-serif; font-size: 50px; color: #9A1A55;">“…my face is as smooth as a baby’s toosh!!…[face honey] is our new chemical-free bff”</span> <span style="font-style: italic;"><br />- The Urban List Melbourne.</span></p><br />
  <p><span style="font-family: 'cf_great_destinyregular', sans-serif; font-size: 50px; color: #9A1A55;">“I love Face Honey…a truly innovative facial wash that will truly transform your cleansing experience!”</span> <span style="font-style: italic;"><br />- WELLNESS BY KELS</span></p>
  <hr />
  <h1 style="padding-bottom: 20px;">customer reviews.</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <a href="https://www.facebook.com/pg/almostpeggy/reviews/">
          <div class="col-sm-12 col-md-4">
            <img style="width: 60px; height: 60px; border-radius: 30px;" class="testimonial-image" alt="Megan Philippa Qpennyfeather Facebook profile image" src="{{ 'megan.jpg' | asset_url }}"> 
          </div>
          <div class="col-sm-12 col-md-8">
            <p>It's rare to find a non-foaming cleanser with no petrochemicals or microbeads which provides an effective clean and gentle exfoliation. It removed make-up beautifully, left the skin deeply cleansed and dewy. Cost effective, locally sourced and made, beautiful and simple product. I love it!
            </p>
            <p>Facebook review<br /> Megan - Launceston, Tasmania</p>
          </div>
        </a>
      </div>
    </div>   
    <div class="col-sm-4">
      <div class="row">
        <a href="https://www.facebook.com/pg/almostpeggy/reviews/">
          <div class="col-sm-12 col-md-4">
            <img style="width: 60px; height: 60px; border-radius: 30px;" class="testimonial-image" alt="Tiki Tiki Facebook profile image" src="{{ 'tiki.jpg' | asset_url }}"> 
          </div>
          <div class="col-sm-12 col-md-8">
            <p>I have been using Almost Peggy for a couple of months now and my skin has never been better. I have very sensitive, combination skin and am forever changing skincare products to find the right fit. Almost Peggy takes off all my makeup, no matter how thick or dark and keeps my skin feeling moisturised and smooth which means I use less foundation. 
            </p>
            <p>Facebook review<br /> Tiki Tiki - Melbourne, Victoria</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <a href="https://www.facebook.com/pg/almostpeggy/reviews/">
          <div class="col-sm-12 col-md-4">
            <img style="width: 60px; height: 60px; border-radius: 30px;" class="testimonial-image" alt="Fiona Facebook profile image" src="{{ 'fiona.jpg' | asset_url }}"> 
          </div>
          <div class="col-sm-12 col-md-8">
            <p>You will try it & you will never look back. Leaves your skin so refreshed...so clean & super smooth.  
            </p>
            <p>Facebook review<br /> Fiona - Australia</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <a href="https://www.facebook.com/pg/almostpeggy/reviews/">
          <div class="col-sm-12 col-md-4">
            <img style="width: 60px; height: 60px; border-radius: 30px;" class="testimonial-image" alt="Victoria Facebook profile image" src="{{ 'vicky.jpg' | asset_url }}"> 
          </div>
          <div class="col-sm-12 col-md-8">
            <p>This is literally my favourite beauty product - I used to hate washing my face off at the end of the day but Almost Peggy feels like a mini facial - it's gritty enough to help with my dry patches but soft enough not to dry me out. It's just plain lovely.  
            </p>
            <p>Facebook review<br /> Victoria - Melbourne, Victoria</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <a href="https://www.facebook.com/pg/almostpeggy/reviews/">
          <div class="col-sm-12 col-md-4">
            <img style="width: 60px; height: 60px; border-radius: 30px;" class="testimonial-image" alt="Simone Kentley Kerr facebook profile image" src="{{ 'simone.jpg' | asset_url }}"> 
          </div>
          <div class="col-sm-12 col-md-8">
            <p>I'm very careful to avoid commercial face products so I used to resort to plain old water and a cloth. I have been using Almost Peggy for a few months and I absolutely love it. It gently exfoliates which feels amazing and it leaves my face smooth and moisturized enough to not need creams at night. I recommend you try it out and see if it works for you, it certainly does for me.
            </p>
            <p>Facebook review<br /> Simone - Kew, Victoria</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div> 
  
  <div class="modal fade" id="cart-updated-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">cart updated.</h4>
        </div>
        <div class="modal-body-cart-update">
          <p>go to <a href="/cart">cart.</a></p>
          <p><a href="/checkout">check out.</a></p>
          <img src="{{ 'ap-mermaid-dog.svg' | asset_url }}" class="rotate360 merdog" style="max-height: 200px; width: auto; margin-top: 30px;"/>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script>
    // required for splitting variants
    // see ProductView
    window.productJSON = {{ product | json }};
  </script>