<h1 class="page-title">{{ page.title }}</h1>
<div class="">
  {{ page.content }}
</div>
<div class="row">
  <div class="col-sm-4">
    <h2>email.</h2>
    <p>hi[at]almostpeggy.com</p>
  </div>
  <div class="col-sm-3">
    <h2>location.</h2>
    <p>ALMOST PEGGY lives in<br />
      Brunswick/Melbourne<br />Victoria, Australia.</p>
  </div>
  <div class="col-sm-2">
    <img style="max-height: 150px; padding-bottom: 20px;" alt="ALMOST PEGGY dog on chair." class="shake" src="{{ 'ap-dog-on-chair.svg' | asset_url }}">
  </div>
</div>
<div class="contact-form-wrapper">
  <h3 style="display: inline;">{{ 'contact.general.header' | t }}</h3>
  {% form 'contact' %}
  {% if form.posted_successfully? %}
  <p class="success-message">{{ 'contact.general.success' | t }}</p>
  {% endif %}
  {% if form.errors %}
  <p class="error-message">{{ 'contact.general.error' | t }}</p>
  {% endif %}
  {% unless form.posted_successfully? %}
  <div class="input-wrapper">
    <label>{{ 'general.general.name' | t }}</label>
    <input type="text" placeholder="{{ 'general.general.name_placeholder' | t }}" value="" name="contact[name]" class="{% if form.errors contains "author" %}error{% endif %}">
  </div>
  <div class="input-wrapper">
    <label>{{ 'general.general.email' | t }}</label>
    <input type="text" placeholder="{{ 'general.general.email_placeholder' | t }}" value="" name="contact[email]" class="{% if form.errors contains "email" %}error{% endif %}">
  </div>
  <div class="input-wrapper">
    <label>what's up?</label>
    <textarea name="contact[body]" rows="6" class="{% if form.errors contains "body" %}error{% endif %}"></textarea>
  </div>
  <div class="input-wrapper">
    <input type="hidden" class="spam-check" value="">
    <input type="submit" value="submit.">
  </div>
  {% endunless %}
  {% endform %}
</div>
<div class="hidden-lg">
  {% include 'buttons-footer-bar'%}    
</div>
