{% layout none %}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="mobile-web-app-capable" content="yes"> 

  {% if template == 'index' %}
  <title>{{ shop.name }} {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <!-- Favicon and icons -->  
  <link rel="icon" sizes="192x192" href="{{ 'favicon.ico' | asset_url }}" type="image/png"/>
  <link rel="apple-touch-icon" href="{{ 'touch-icon-iphone.png' | asset_url }}" type="image/png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'touch-icon-ipad.png' | asset_url }}" type="image/png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'touch-icon-iphone-retina.png' | asset_url }}" type="image/png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'touch-icon-ipad-retina.png' | asset_url }}" type="image/png"/> 

  <link rel="canonical" href="{{ canonical_url }}" /> 

  {{ content_for_header }}

  <!-- Theme CSS -->
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  {{ "fontname.css"  | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}  

  <!-- Third Party JS Libraries -->
  {{ 'modernizr-2.7.1.min.js' | asset_url | script_tag }}
  {{ 'jquery-1.10.0.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.min.js' | asset_url | script_tag }}

  {% include 'fonts' %}

  <!-- Store object -->
  {% include 'theme-options' %}

  <style type="text/css">
    {% if settings.custom-css != blank %}
    {{ settings.custom-css }}
    {% endif %}
  </style>

</head>
<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  <!-- form submitted successfully modal-->
  <div id="myModal" class="modal fade email-success-modal signup-modal-message" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align: center;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title size90">you're almost signed up.<br /><span style="font-size: 40px">(whoop!)</span></h4>
        </div>
        <div class="modal-body message" style="padding-bottom: 0; paddin-top: 0; text-align: center;">
          <p style="font-size: 20px;">check your inbox to complete the process and we'll let you know as soon as we're ready to spill the beans.</p>
        </div>
        <div class="modal-footer" style="text-align: center; border: none;">
          <img style="height: 200px; width: auto;" class="doshrink" src="{{ 'ap-dog-on-chair.svg' | asset_url }}"/>
        </div>
      </div>
    </div>
  </div>
  <!-- form submitted error modal-->
  <div class="modal fade signup-modal-message" id="signup-error-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">oops!</h4>
        </div>
        <div class="modal-body message">
          <p>something in your email is awry.<br/> give it another whirl.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="container">
    <img id="password-logo" class="img-responsive" src="{{ 'ap-logo.gif' | asset_url }}" />
    <h2>{{ 'password.general.opening_soon' | t }}</h2>
    <p id="subscribe-prompt">something is a buzzzz... subscribe to find out what!</p>
    <p id="subscribe-success" class="hide">we've got your deets and you'll hear from us soon!<br /><img style="margin-top: 15px; height: 100px; width: auto;" src="{{ 'ap-envelope-legs.svg' | asset_url }}"/></p>
    <div class="row" id="form-row">
      <div id="image-item" class="col-md-3" style="padding: 0;">   
        <img class="startshake" style="height: auto; width: 120px;" src="{{ 'ap-envelope-legs.svg' | asset_url }}"/>
      </div>
      <div id="input-items" class="col-md-9" style="padding: 0;">
        <div id="password-sign-up-div">
          <div class="password-subscribe-wrapper visible">
            <form class="mc-embedded-subscribe-form" id="mailinglist-form" action="https://almostpeggy.us13.list-manage.com/subscribe/post-json?u=fd4a6dda57553f44a1944c8e2&id=6673ee28fa&c=?" method="POST">
              <input class="newsletter-input" type="email" name="MERGE0" id="email" placeholder="your@email.com" value="" required>
              <input class="submit password-button" name="commit" type="submit" value="tell me!">
              <script>
                $(document).ready( function () {
                  var $form = $('.mc-embedded-subscribe-form');
                  $form.submit(function (ev) {
                    $.ajax({
                      type: $form.attr('method'),
                      url: $form.attr('action'),
                      data: $form.serialize(),
                      cache       : false,
                      dataType    : 'json',
                      contentType: "application/json; charset=utf-8",
                      error       : function(err) { alert("could not connect to the registration server. please try again later."); },
                      success     : function(data) {
                        if (data.result != "success") {
                          $('div.modal-body.message').html(data.msg);
                          $('#signup-error-modal').modal('show');
                          $("#mailinglist-form")[0].reset();
                        } else {
                          $('.email-success-modal').modal('show');
                          $("#mailinglist-form")[0].reset();
                        }
                      }
                    });
                    ev.preventDefault();
                  });
                });
              </script>
            </form>
          </div>
        </div>
      </div>              
    </div>
    <div id="line-break-div">
      <a href="http://www.instagram.com/almostpeggy"><img class="password-social" src="{{ 'instagram-black.png' | asset_url }}"/></a>
      <a href="https://au.pinterest.com/almostpeggy"><img class="password-social" src="{{ 'pinterest-black.png' | asset_url }}"/></a>
      <a href="https://www.facebook.com/almostpeggy"><img class="password-social facebook" src="{{ 'facebook-black.png' | asset_url }}"/></a>
    </div>
    <div class="password-form-wrapper">
      <div id="loginModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title size90">shop owner login.</h4>
            </div>
            <div class="modal-body">
              {% form 'storefront_password' %}
              {{ form.errors | default_errors }}
              <div class="{% if form.errors %}has-errors{% endif %}" data-password-form-inner>
                <input class="password-input" id="login-input" type="password" name="password" placeholder="{{ 'password.general.use_password' | t }}" autofocus>
                <input class="submit password-button" id="login-button" name="submit" type="submit" value="login.">
              </div>
              {% endform %}
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn" id="login-button" aria-label="login-button" data-toggle="modal" data-target="#loginModal">
    login.
  </button>
  <!-- scripts -->
  <script>
    $('.signup-modal-message').on('hidden.bs.modal', function () {
    	location.reload();
  	})
  </script>
  {% if settings.show-currency-switcher %}
  {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
  {{ "jquery.currencies.js" | asset_url | script_tag }}
  {% endif %}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'plugins.js'  | asset_url | script_tag }}
  {{ 'site.js'  | asset_url | script_tag }}
</body>
</html>

